@{
    ViewBag.Title = "Index";
}



<div>
    <a class="bt-novo-livro" href="@Url.Action("Criar","Autores")"> Adicionar novo autor </a>
    <br /> <br />
    <h2 class="titulo-lista"> Todos os autores cadastrados no sistema </h2>


    @foreach (var autor in ViewBag.listAutores)
    {
        <div class="box-livro">
            <p class="p-titulo"><strong>Nome:</strong> @autor.Nome</p>
            <p class="p-isbn"><strong>Sobrenome:</strong> @autor.Sobrenome</p>

            <ul class="menu-acoes-livro">
                <li class="item-acao-livro">
                    <a href="@Url.Action("Detalhes","Autores",new {id = autor.AutorId})">Detalhes</a>
                </li>
                <li class="item-acao-livro">
                    <a onclick="return confirm('Você deseja deletar este autor?')" href="@Url.Action("Delete","Autores", new {id= autor.AutorId})">Deletar</a>
                </li>
                <li class="item-acao-livro">
                    <a href="@Url.Action("Editar","Autores",new {id = autor.AutorId})">Editar</a>
                </li>
            </ul>


        </div>
    }

</div>
